body { background-color:rgb(28, 61, 110); color: #fff; }
p > a { color: #fff }
.container { margin-bottom: 3rem }
.container > h3 { margin-top: 3rem }
.title { margin-top: 4rem }
.card { padding: .5rem; border: none; background-color: transparent }
.card-body { border-radius: 1rem; color: #fff; display: flex; flex-direction: column; justify-content: space-between; }
.card-body a { color: #fff; width: fit-content; }
.card-body a:before { content: "> " }
.card-body a.btn:hover { background-color: rgb(255, 255, 255, .5) }
.card-body a.btn:before { content: "" }
.card-body-header { display: flex; flex-direction: column }
.card-body-footer { display: flex; flex-direction: row-reverse }
.card-body-footer > a { background-color: rgb(255, 255, 255, .16) }
.card-body-footer > a:visited { background-color: rgb(255, 255, 255, .12); color: #fff }
